/*
Style Sheet for IE 8
*/

#portfolio_content{
    overflow: visible;
    display: block;
    height: auto;
    white-space: normal;
}
#portfolio_content p, #portfolio_content img{
    display:block;
    margin-bottom: 20px;
}